.new-tweet {
  background: #EEEEEE;
  margin-left: 2em;
  margin-right: 2em;
  padding: 10px;
  border-radius: 5px;
}

.new-tweet h2{
  border-bottom: solid;
}

textarea {
  width: 100%;
}

.counter {
  right: 0px;
  padding-left: 250px;
  color: black;
}

.tweets {
  background: #EEEEEE;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  padding: 5px;
  border-radius: 5px;
}

article.tweets header {
  margin-top: 0em;
  height: 50px;
  background: beige;
}

.tweets img {
  height: 50px;
  float: left;
}

.tweets h3 {
  float: left;
}

.tweets h5 {
  border-top: solid;
}

.tweets p {
  height: 150px;
  background: white;
}




