.new-tweet {
  background: #EEEEEE;
  margin-left: 2em;
  margin-right: 2em;
  padding: 10px;
  border-radius: 5px;
}

.new-tweet h2{
  border-bottom: solid;
}

textarea {
  width: 100%;
}

.counter {
  right: 0px;
  padding-left: 280px;
  color: black;
}

.tweets {
  background: #EEEEEE;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  padding: 5px;
  border-radius: 5px;
  opacity: 0.55;
}

.tweets:hover {
  opacity: 1;
}

article.tweets header {
  margin-top: 1px;
  height: 30px;
  /*background: beige;*/
}

.tweets img {
  height: 50px;
  float: left;
}

.tweets h3 {
  float: left;
}

.tweets h6 {
  float: right;
  font-family: Arial;
  font-size: 10px;
  font-weight: normal;
}

.tweets h5 {
  border-top: solid;
  font-family: Arial;
  font-size: 10px;
  font-weight: normal;
}

.tweets p {
  height: 100px;
  background: white;
}




